.logo-image {
  width: 350px;
  position: absolute;
  margin-top: 70px;
  margin-bottom: 21px;

}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #FEEAD3;
  z-index: 10;
}

.padder{
  margin-top: 80px;
  background-color: #FEEAD3;
  z-index: 10;
}
